html{
  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body{
  height: 100%;
}

body{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.section-title{
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header{
  background-color:cornflowerblue;
  margin-bottom: 100px;
}

.header__inner{
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.menu__list{
  display: flex;
  gap: 35px;
}

.menu__list-link{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}

.menu__list-link:hover{
  color: rgb(151, 191, 21);
  transition: .5s;
}

.footer{
  background-color: cornflowerblue;
  padding: 20px 0 20px;
}

.footer__menu{
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;
  color: #fff;
}

.footer__menu-list{
  max-width: 250px;
}

.footer__menu-title{
  font-size: 24px;
  font-weight: 700;
}

.footer__menu-item + .footer__menu-item{
  padding-top: 20px;
}

.footer__menu-link:hover{
  color: rgb(151, 191, 21);
  transition: .5s;
}

.social{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.footer__copy{
  color: #4d4c4c;
  text-align: start;
}

.main{
  flex-grow: 1;
}

.title{
  padding-bottom: 40px;
  padding-top: 40px;
  font-size: 96px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.main__img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.section-text{
  text-align: center;
  margin-bottom: 50px;
  padding: 0 150px;
  font-size: 22px;
}

.main-text{
  text-align: center;
}

.main-text__header{
  font-size: 48px;
  padding-bottom: 30px;
}

.main-text__text{
  font-size: 22px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.why-choose__list_1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align:center;
}

.why-choose__list_2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.why-choose__item-img{
  margin-bottom: 15px;
}

.why-choose__item-title{
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 700;
}

.our-advantades{
  margin-bottom: 50px;
}

.our-advantages__title{
  font-size: 48px;
}

.our-advantages__text{
  font-size: 22px;
  margin: 25px 0;
  padding-left: 23px;
}

.our-advantages__list-item{
  margin-bottom: 10px;
}

.our__advantages-item-text{
  font-size: 20px;
  margin-bottom: 25px;
}

.our__advantages-list{
  padding-left: 38px;
}

.contacts{
  padding: 0 0 50px;
}

.contacts__text{
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
  padding: 0 100px;
}

.form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__input{
  width: 270px;
  padding: 18px 20px;
  border: 1px solid cyan;
  border-radius: 10px;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: black;
}

.form__input::placeholder,
.form__textarea::placeholder{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  opacity: .5;
}

.form__textarea{
  width: 100%;
  padding: 28px 20px;
  height: 290px;
  border: 1px solid cyan;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  margin-bottom: 50px;
}

.form__btn{
  text-transform: uppercase;
  color: #fff;
  background-color: cornflowerblue;
  font-size: 16px;
  font-weight: 400;
  padding: 13px 61px;
  margin: 0 auto;
  border-radius: 10px;
  border-color: cornflowerblue;
}

.form__btn:hover{
  color: rgb(151, 191, 21);
  transition: .5s;
}

.blog{
  padding-bottom: 50px;
}

.blog__items__title{
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.blog__items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}

.blog__item-img{
  margin-bottom: 30px;
  width: 250px;
  height: 150px;
}

.blog__item__text{
  margin-bottom: 20px;
  padding: 0 50px;
}

.blog__item-link{
  color: #fff;
  background-color: cornflowerblue;
  padding: 10px 10px;
}

.blog__item-link:hover{
  color: rgb(151, 191, 21);
  transition: .5s;
}

.choose{
  margin: -50px 0 0;
}

.tabs__content-item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 40px;
  text-align: center;
}

.card{
  text-align: center;
}

.card__img{
  width: 350px;
  height: 220px;
}

.card__content{
  padding: 0 5px;
}

.card__title{
  padding-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card__text{
  margin-bottom: 20px;
  font-size: 18px;
  padding: 0 70px;
}

.card__price{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
}

.card__link{
  display: block;
  color: cornflowerblue;
  padding: 10px;
}

.card__link:hover{
  color: rgb(151, 191, 21);
  transition: .5s;
}

.card--inner--items{
  text-align: center;
}

.card--inner-title{
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.card--inner-text{
  margin-bottom: 30px;
  font-size: 18px;
  padding: 0 150px;
}

.service{
  margin-bottom: 50px;
}

.services__img{
  margin: 0 0 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.services-items-title{
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.services-items-text{
  font-size: 22px;
  text-align: center;
  padding: 0 150px;
}

.service-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.service-item{
  padding-left: 20px;
  padding-right: 20px;
}

.service-item__image{
  width: 560px;
  height: 370px;
  margin: 50px 0 30px;
}

.service-title{
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.about{
  margin-bottom: 50px;
}

.about__img{
  margin: 0 0 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.about-items-title{
  font-size: 48px;
  margin-bottom: 50px;
}

.about-items{
  margin-bottom: 50px;
}

.about-item__title{
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 40px;
}

.about-items-text{
  font-size: 22px;
  margin-bottom: 20px;
}

.btn-up {
  position: fixed;
  background-color: rgb(70, 128, 235);
  right: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: rgb(151, 191, 21);
    transition: .5s;
  }
}
















